* {
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: smaller;
}

.header-link {
    width: 5em;
    color: black;
}

.dropdown {
    width: 50px;
}

main {
    text-align: center;;
    margin-top: 10%;
    font-family: Arial, sans-serif;
    font-size: smaller;
    width: 100%;
}

main > a {
    margin: 0 50px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-wrapper {
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;
    width: 500px;
    max-width: 90%;
    min-width: 300px;
    margin: 20px;
    padding: 5px;
    border-radius: 25px;
}

#search-wrapper > img {
    margin-left: 10px;
}

#search-wrapper:hover {
    box-shadow: 0 0 5px 1px lightgray;
}

#search {
    width: 400px;
    max-width: 80%;
    min-width: 200px;
    margin: 10px 10px;
    border: none;
}

#search:focus {
    outline: none;
}

#buttons {
    display: flex;
    flex-direction: row;
    margin: 20px auto;
}

button {
    margin: 2px 20px;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 4px;
    padding: 10px;
}

button:hover {
    border: 1px solid lightgray;
}

#language > p {
    display: inline;
}

#language > a {
    margin: 0 5px;
}

footer {
    position: absolute;
    display: inline;
    bottom: 0;
    width: 100%;
    height: fit-content;
    padding: 50px 0 0 0;
    margin: 20px auto 0 auto;
    font-family: Arial, sans-serif;
    font-size: small;
    background-color: #ebebeb;
    border-top: 1px solid lightgray;
}

#left {
    position: absolute;
    left: 20px;
    bottom: 7px;
    margin-bottom: 10px;
}

#right {
    position: absolute;
    right: 20px;
    bottom: 7px;
    margin-bottom: 10px;
}

.footer-link {
    color: darkslategray;
    margin: 0 10px;
}

:any-link {
    text-decoration: none;
}

:any-link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 650px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 0 20px 0;
    }

    #left {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 5px auto;
    }

    #right {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 5px auto;
    }
}