* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
}

.header-link {
    width: 5em;
}

.dropdown {
    width: 50px;
}

main {
    text-align: center;
    margin-top: 10%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#search {
    width: 500px;
    margin: 20px auto;
}

#buttons {
    display: flex;
    flex-direction: row;
    margin: 20px auto;
}

button {
    margin: 0 20px;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 10px;
}